<h1>Let the races begin!</h1>
<table class="racer_table">
  <tr id="player1_strip">
    <td class="start"><%= @player_1.name %>:</td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td class="start"><%= @player_2.name %>:</td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="end"></td>
  </tr>
</table>
<div class="player1_wins">Player 1 wins!!!</div>
<div class="player2_wins">Player 2 wins!!!</div>
