
  <h1>Welcome to JavaScript racer!</h1>
  <p>Hello, world!</p>

<form class="player" action="/game" method="POST">  
  <label>Player 1 name: <input id="name" type="text" name="player1"></label><br>
 <!--  <label>Player 2 name: <input id="name" type="text" name="player2"></label><br> -->
  <input type="Submit" id="create" value="Start Game">
</form> 

